body {
  background-color: rgb(235, 248, 235);
}
h2 {
  font-style: italic;
  color: #f73939;
  font-family: Verdana, sans-serif;
}
table,
th,
td {
  border: 1px;
  border: solid;
  color: #992b2b;
  text-align: center;
}
/* widescreen displays */
@media only screen and (min-width: 920px) {
  .container {
    /* some layout rules */
  }
}

/* tablets */
@media only screen and (max-width: 919px) {
  .container {
    /* some layout rules */
  }
}

/* phones */
@media only screen and (max-width: 400px) {
  .container {
    /* some layout rules */
  }
}
